form {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin: 10px 0 20px;
  padding: 6px;
  border: 1px solid #ccc;
}

form button {
  padding: 6px 8px;
  background: var(--primary);
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-family: Poppins, serif;
}

.error {
  color: red;
}
