.smoothie-grid {
  display: grid;
  margin-top: 40px;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.order-by button {
  margin-right: 10px;
  padding: 4px 8px;
  background: var(--primary);
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-family: Poppins, serif;
}
