.smoothie-card .buttons {
  text-align: right;
}

.smoothie-card i {
  margin-left: 10px;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  color: #bbb;
  font-size: 1.2em;
}
